
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*=========================================== 
    Custom Styles
=============================================*/
    body{
		 
      background: #293f50;
      color: #324232;
      font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

/*=========================================== 
    GRID
=============================================*/

*,
*:before,                                                                /* makes all elements border-box*/
*:after {
  -webkit-border-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container
.grid{
  margin: 0 auto ;                  /* 0 for vertical and auto for horizontal */
  width: 960px;
}

.container {
	 background-image: url('../images/banner.png');
	
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
  
}

.col-1-3,
.col-2-3{
  display: inline-block;
  vertical-align: top;
  
}

.col-1-3{
  width: 33.33%;
}

.col-2-3{
  width: 66.66%;
  text-align:justify;
}

.grid,
.col-1-3,
.col-2-3{
  padding-right: 15px;
  padding-left: 15px;
}


/*=========================================== 
    Typography
=============================================*/


 h2, h3, h4 {
  color: rgb(255, 255, 255);
}

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

h1 {
  color: white;
  font-size: 36px;
  line-height: 44px;
}

h2 {
  color: #ffffff;
  font-size: 24px;
  line-height: 44px;
}

h3 {
  color: rgb(255, 0, 0);
  font-size: 21px;
 
}

h4 {
  font-size: 18px;
}

h5 {
  color: #00e279;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite,
em {
  font-style: italic;
}

/*=========================================== 
      Buttons
=============================================*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
  float:left;
  padding-bottom:100px;
}
.btn-pur {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-pur:hover {
  background: #77a198;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}


/*=========================================== 
             Home
=============================================*/

.intro{
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

.intro h2 {
  font-size: 36px;
}

.intro p {
  font-size: 24px;

}

.teaser a:hover h3 {
  color: #ff0000;
}


/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}


/*
  ========================================
  Primary Header
  ========================================
*/

.logo {
	width:73%;
  border-top: 4px solid #ff0000;
  padding:  40px 0 22px 0;
  font-size: 48px;
  line-height: 44px;
  float:left;
}


.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;

}

/*
  ========================================
  Primary Footer
  ========================================
*/
    

      .primary-footer{
		  font-weight: 400;
		text-align:right;
        color: white;
        font-size: 16px;
        padding-bottom: 44px;
        padding-top: 44px;
		padding-left:200px;
		
		
      }

    /*
  ========================================
  Links
  ========================================
*/

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #ff0000;
}


.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #ff0000;
}
/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}

/*
  ========================================
  Rows
  ========================================
*/

.row {
  background: #fff;
  padding: 66px 0 44px 0;
  min-width: 960px;
}


/*
  ========================================
  Form
  ========================================
*/

form{
  margin-bottom: 22px;
}

input,
select,
textarea{
font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  width: 100%; 
}
.register-group select {
  height: 34px;
  width: 100%;
}
.register-group textarea {
  height: 78px;
}


/*
  ========================================
  news
  ========================================
*/
	.news{
		font: white;
		display:inline-block;
	}


.wrap-img{
		
            float: right;
            margin: 5px; 
			 padding: 10px 10px 10px 10px;
        }
		
.wrap-p { 
			margin: 15px;
            text-align: justify; 
            font-size: 25px; 
			letter-spacing:2px;
		
			line-height:30px;
        } 
		
				@keyframes ticker {
				0% { transform: translate3d(0, 0, 0); }
				100% { transform: translate3d(-100%, 0, 0); }
			}
			.tcontainer{
				width: 100%;
				overflow: hidden;
			}
			.ticker-wrap {
        width: 100%;
        padding-left: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        color: rgb(255, 8, 8);
        font-weight: 600;
       word-spacing: 0em;
				
			}
			.ticker-move {
				display: inline-block;
				white-space: nowrap;
				padding-right: 100%;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				animation-name: ticker;
				animation-duration: 40s;
			}
			.ticker-move:hover{
				animation-play-state: paused;
			}
			.ticker-item{
				display: inline-block;
				padding: 0 2rem;
			}



.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right bottom, #e7a6dc, #f6f1d3);
  padding: 44px 0 22px 0;
}


.row-alt-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right, #6cbeab, #f6f1d3);

}

.form-dot {
  list-style: square;
   margin: 0 0 22px 30px;
   line-height:200%;
   
}
			

/* Simple Border Button */
.border-neon {
    background-color: transparent;
    border: 2px solid pink;
    color: pink;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
 
.border-neon:hover, .border-neon:focus {
    -webkit-box-shadow: inset 0px 0px 8px 3px #ff94b8;
    box-shadow: 0px 0px 10px 3px #ff94b8, inset 0px 0px 10px 3px #ff94b8;
    border-color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff94b8, 0 0 40px #ff94b8, 0 0 50px #ff94b8, 0 0 60px #ff94b8, 0 0 70px #ff94b8
}
		

			
/*
  ========================================
image slide show
  ========================================
*/
		* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
	







